# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/temp

# production
/build
/output/*.png
/output/*.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
.vscode
package-lock.json
_old
process_data