html {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  font-family: -apple-system, "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1 {
  padding: 1rem;
}

.btn,
.form-control {
  width: 15rem;
}

.col {
  padding: 1rem;
}

.row {
  margin: 0.01rem;
}

.card {
  background-size: cover;
  background-position: center;
  background-color: lightgray;
  margin: 0.2rem;
  padding: 0px;
}

#myItems {
  justify-content: center;
  margin: 1rem;
}

.item-common {
  background-color: whitesmoke;
}

.item-uncommon {
  background-color: greenyellow;
}

.item-rare {
  background-color: cornflowerblue;
}

.item-epic {
  background-color: mediumpurple;
}

.img-wrapper{
  overflow:hidden;
}
img.hover-zoom {
  transition: all 0.3s ease 0s;
  width: 100%;
}
img.hover-zoom:hover {
  cursor: pointer;
  transform: scale(1.25);
}